*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Berkshire Swash', cursive;

}
body{
  background-color: #eeeeee;
}
.line{
  outline: 1px solid red;
}
.navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-nav>li>a{
  color: white;
}
.navbar-color{
  background: radial-gradient(circle,#b2077b,#530060);
  color:white;

}
.splash{
  background: radial-gradient(circle,#b2077b,#530060);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left:0;
  color: white;
}

.btn-creat{
  background-color: #07b294;
}
.ocultar{
  display: none;
}

.margin-left-10{
  margin-left: 10px;
}

.btn-buscar{
  margin-top: 0px;
}

#container{
  margin-top: 20px;
}

.container-foro{
  background-color: #07b294;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.img-user{
  width: 50px;
  margin-right:20px;
}

.img-message{
  width: 20px;
  margin-right:5px;
}